In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("car.csv")
df

     buying  maint  doors persons lug_boot safety Class Values
0     vhigh  vhigh      2       2    small    low        unacc
1     vhigh  vhigh      2       2    small    med        unacc
2     vhigh  vhigh      2       2    small   high        unacc
3     vhigh  vhigh      2       2      med    low        unacc
4     vhigh  vhigh      2       2      med    med        unacc
...     ...    ...    ...     ...      ...    ...          ...
1723    low    low  5more    more      med    med         good
1724    low    low  5more    more      med   high        vgood
1725    low    low  5more    more      big    low        unacc
1726    low    low  5more    more      big    med         good
1727    low    low  5more    more      big   high        vgood

[1728 rows x 7 columns]

In [3]:
df.isna().sum()

buying          0
maint           0
doors           0
persons         0
lug_boot        0
safety          0
Class Values    0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()
df_1 = df
df_1['buying']=labelencoder.fit_transform(df['buying'])
df_1['maint']=labelencoder.fit_transform(df['maint'])
df_1['doors']=labelencoder.fit_transform(df['doors'])
df_1['persons']=labelencoder.fit_transform(df['persons'])
df_1['lug_boot']=labelencoder.fit_transform(df['lug_boot'])
df_1['safety']=labelencoder.fit_transform(df['safety'])
df_1['Class Values']=labelencoder.fit_transform(df['Class Values'])
df_1

      buying  maint  doors  persons  lug_boot  safety  Class Values
0          3      3      0        0         2       1             2
1          3      3      0        0         2       2             2
2          3      3      0        0         2       0             2
3          3      3      0        0         1       1             2
4          3      3      0        0         1       2             2
...      ...    ...    ...      ...       ...     ...           ...
1723       1      1      3        2         1       2             1
1724       1      1      3        2         1       0             3
1725       1      1      3        2         0       1             2
1726       1      1      3        2         0       2             1
1727       1      1      3        2         0       0             3

[1728 rows x 7 columns]

In [5]:
df_1.to_csv("Car_Final.csv",index=False,encoding="utf-8-sig")